#grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 100px 50px;
  grid-template-areas:
    'header'
    'main'
    'legend'
    'button';
}

#title-container {
  background-color: aqua;
  grid-area: header;
}

#main-container {
  grid-area: main;
}

#svg-container {
  min-width: 100%;
}

#legend-container {
  grid-area: legend;
}

/* BUTTON STYLES */
#button-container {
  background-color: brown;
  grid-area: button;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'create generate';
}

#btn-create-slider {
  grid-area: create;
}

#btn-generate-random {
  grid-area: generate;
}

/* EXPENSE STYLES */
.expense-container {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'name expcolor value';
}

#expense-name {
  font-size: 0.9rem;
  text-align: start;
  grid-area: name;
}

.expense-box {
  width: 20px;
  height: 20px;
  margin: auto;
  grid-area: expcolor;
}

#expense-value {
  font-size: 0.9rem;
  grid-area: value;
}

/* TEXT CLASSES */
.big-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.medium-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  /* For Desktop */
  #grid-container {
    grid-template-columns: 30% 1fr 1fr 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      'header header header header'
      'legend main main main'
      '. button button .';
  }

  .big-text {
    font-size: 2rem;
  }

  .medium-text {
    font-size: 1.5rem;
  }

  .expense-container {
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr 20% 10% 20%;
    grid-template-areas: '. . . name expcolor value';
  }
}
