#grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 200px 50px;
  grid-template-areas:
    'header'
    'main'
    'legend'
    'button';
}

#title-container {
  background-color: aqua;
  display: flex;
  justify-content: center;
  grid-area: header;
}

#main-container {
  display: flex;
  justify-content: center;
  grid-area: main;
}

#legend-container {
  grid-area: legend;
}

/* BUTTON STYLES */
#button-container {
  grid-area: button;
  display: flex;
  justify-content: space-evenly;
}

.button-style {
  position: relative;
  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color 0.3s;
}

/* On hover Change Color and Scale up button */
.button-style:hover:enabled {
  background-color: #27ae60;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.button-style:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

/* EXPENSE STYLES */
.expense-container {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'name expcolor value';
}

#expense-name {
  font-size: 0.9rem;
  text-align: start;
  grid-area: name;
}

.expense-box {
  width: 20px;
  height: 20px;
  margin: auto;
  grid-area: expcolor;
}

#expense-value {
  font-size: 0.9rem;
  grid-area: value;
}

/* TEXT CLASSES */
.big-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.medium-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  /* For Desktop */
  #grid-container {
    grid-template-columns: 30% 1fr 1fr 1fr;
    grid-template-rows: 100px 1fr 80px;
    grid-template-areas:
      'header header header header'
      'legend main main .'
      '. button button .';
  }

  .big-text {
    font-size: 2rem;
  }

  .medium-text {
    font-size: 1.5rem;
  }

  #legend-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    grid-template-areas: 'create generate';
  }

  #btn-create-slider {
    grid-area: create;
  }

  #btn-generate-random {
    grid-area: generate;
  }
}
